body {
    background-color: #000;
    color: white;
}

.navbar-nav{
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    gap: 30px;
}

.public-seance-card {
    background-color: #1c1c1c;
    color: #f5f5f5;
    border-radius: 12px;
    border: 1px solid #444;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.public-seance-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}

.public-seance-img {
    height: 100%;
    object-fit: cover;
}

.public-seance-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card {
    background-color: #121212;
    border: 1px solid #333;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    height: 100%;
}

.card:hover {
    background-color: #333;
    transform: scale(1.05);
}

.card-title {
    color: #FFD700;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.card-body {
    padding: 15px;
}

.film-card {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #1c1c1c;
    color: #f5f5f5;
}

.film-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}

.film-card img {
    object-fit: cover;

}

.film-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.film-card .card-text {
    font-size: 0.95rem;
    color: #ccc;
}

.carousel-item {
    transition: transform 0.6s ease-in-out;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000cc;
}

#carouselFilmsAffiche{
    max-width: 900px;
}

#carousel-img{
    max-height: 320px;
}

.next-seance-box {
    background-color: #2c3e50;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    padding: 40px;
    color: #ecf0f1;
    max-width: 600px;
    margin: auto;
}

.next-seance-img {
    height: 220px;
    width: auto;
    border-radius: 10px;
}

.next-seance-title {
    font-size: 2.2rem; /* Taille du titre augmentée */
    font-weight: bold;
    color: #ffcc00; /* Jaune IMDb */
    margin-bottom: 15px; /* Espacement sous le titre */
}

.next-seance-details {
    font-size: 1.3rem; /* Taille du texte des détails augmentée */
    margin-bottom: 30px; /* Espacement sous les détails */
}

.next-seance-btn {
    background-color: #ffcc00; /* Jaune IMDb */
    border: none;
    color: #333;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.next-seance-btn:hover {
    background-color: #f39c12;
    transform: scale(1.08);
}

.next-seance-btn:focus {
    outline: none;
}