{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Films disponibles</h2>
    <div class="row g-4" id="films-list">
        {% for film in liste_films: %}
            <div class="col-md-4">
                <div class="card film-card h-100 shadow">
                    <img src="/static/images/{{ film.affiche }}" class="card-img-top" alt="Affiche de {{ film.titre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ film.titre }}</h5>
                        <p class="card-text"><strong>Réalisateur: </strong>{{ film.realisateur }}</p>
                        <p class="card-text"><strong>Durée: </strong>{{ film.duree }} min</p>
                        <p class="card-text"><strong>Synopsis: </strong>{{ film.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}